/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Scrape/bin/
/Scrape/.classpath
/Scrape/.project
/Scrape/.settings/
/SauceyScrape/bin/
/SauceyScrape/target/
/SauceyScrape/.classPath
/SauceyScrape/.project
/SauceyScrape/.settings/