<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-danger navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>Home</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>About</strong></a>
    </li>
  </ul>
</nav>

<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width=150 alt="Struttin-Wolf" src="https://static.gopack.com/custompages/Brand%20Guide/Struttin-Wolf-Web.jpg">
  <!--<img width=150 alt="Struttin-Wolf" src="../../img/Struttin-Wolf.jpg">-->
</div>
<h2>Enter Plans: </h2>
<div class="row mt-4">
  <div class="col-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Plan 1</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Plan A</button>
        <button ngbDropdownItem>Plan B</button>
        <button ngbDropdownItem>Plan C</button>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Plan 2</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Plan A</button>
        <button ngbDropdownItem>Plan B</button>
        <button ngbDropdownItem>Plan C</button>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Plan 3</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Plan A</button>
        <button ngbDropdownItem>Plan B</button>
        <button ngbDropdownItem>Plan C</button>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Plan 4</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Plan A</button>
        <button ngbDropdownItem>Plan B</button>
        <button ngbDropdownItem>Plan C</button>
      </div>
    </div>
  </div>
  <div class="col">
    <button type="button" class="btn btn-outline-success">Run</button>
</div>
</div>

<router-outlet></router-outlet>
