<!-- contains plan list dropdown, and displays selectedPlan unless it is null -->
<div ngbDropdown placement="bottom-left" class="d-inline-block">
  <button class="btn btn-outline-danger" id="dropdownBasic1" ngbDropdownToggle>Select Plan</button>
  <div ngbDropdownMenu class="dropdown-menu mb-5" aria-labelledby="dropdownBasic1">
    <div *ngFor="let plan of plans">
        <button (click)="selectPlan(plan)" ngbDropdownItem>{{plan.shortName}}</button>
    </div>
  </div>
</div>
<p *ngIf="selectedPlan">{{selectedPlan.longName}}</p>
