<!-- contains the title, wolfpack image, plan-list components, run and clear buttons, and the overlap component -->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width=150 alt="Struttin-Wolf" src="assets/img/Struttin-Wolf.jpg">
</div>
<div class="row mt-4">
  <div class="col-2">
    <app-plan-list></app-plan-list>
  </div>
  <div class="col-2">
    <app-plan-list></app-plan-list>
  </div>
  <div class="col-2">
    <app-plan-list></app-plan-list>
  </div>
  <div class="col-2">
      <app-plan-list></app-plan-list>
  </div>
  <div class="col">
      <button type="button" class="btn btn-outline-warning my-btn" (click)="clear()">Clear</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-outline-success my-btn" (click)="run()">Run</button>
  </div>
</div>
<!-- <app-overlaps *ngIf="!hidden"></app-overlaps> -->
<app-overlaps [hidden]="hidden"></app-overlaps>
